#
#  liuyf90's aliases 
#
#
#Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Accustomed development
alias py=python2
alias python=python3
alias pip=pip3.7
alias jdk11="export JAVA_HOME=$JAVA_11_HOME"
alias jdk8="export JAVA_HOME=$JAVA_8_HOME"
alias ctags="/usr/local/bin/ctags"

    #alias mysqlto="mysql -P 3306 -h 127.0.0.1 -u root -p123456"
    #mysqlto 进入到本机mysql中
#alias mysqlto="mysql --defaults-extra-file=~/.mysqlcnf/.local.cnf"
#通过该脚本，选择一个mysql数据库，直接进入数据中。并且同时设置好MYSQLC变量为所选配置需要注意的是：采用source来执行脚本，如果用shell执行，会在子shell中执行，环境变量无法替换
alias mysqlto=". selmysql.sh"
alias myclito="mycli --defaults-file ~/.mysqlcnf/$MYSQLC "
    #mysqle 直接执行本机mysql
    #由MYSQLC变量，配置mysqle命令进入哪个mysql服务中
#MYSQLC=".local.cnf"
alias mysqle="mysql --defaults-extra-file=~/.mysqlcnf/$MYSQLC -e "
alias mysqlf="mysql --defaults-extra-file=~/.mysqlcnf/$MYSQLC  "
    #tmux new  session
alias tmuxn="tmux new -s "

 
# Common directory
alias code="cd ~/code"
alias park="cd ~/code/park"
alias pr="cd ~/code/project"


# Shortcuts
alias bp="vim ~/.bash_profile"
alias bpr="source ~/.bash_profile"
alias vir="vim ~/.vimrc"
    #alias vbs="vim ~/.vimBase"
    #alias venv="vim ~/.vimEnv"
    #alias vplug="vim ~/.vimPlug"
alias vimb="vim ~/.vim_liuyf/basic.vim"
alias vimp="vim ~/.vim_liuyf/plug.vim"
 #Used the command "keyto remoteAddress" will copy local ssh-key to the remoteServer
alias keyto="ssh-copy-id -i ~/.ssh/id_rsa.pub" 
alias cl="clear"
alias llh="ll -al"
 #only show dir list
alias ld="ls -d -al */"
 #set p10k
alias p10k="p10k configure"
alias today='date +"%A, %B %-d, %Y"'



