#
#  liuyf90's aliases 
#
#
#Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Accustomed development
alias py=python2
alias python=python3
alias jdk11="export JAVA_HOME=$JAVA_11_HOME"
alias jdk8="export JAVA_HOME=$JAVA_8_HOME"
alias ctags="/usr/local/bin/ctags"
alias mysqlto="mysql -P 3306 -h 127.0.0.1 -u root -p123456"
 
# Common directory
alias code="cd ~/code"
alias park="cd ~/code/park"
alias pr="cd ~/code/project"


# Shortcuts
alias bp="vim ~/.bash_profile"
alias bpr="source ~/.bash_profile"
alias vir="vim ~/.vimrc"
    #alias vbs="vim ~/.vimBase"
    #alias venv="vim ~/.vimEnv"
    #alias vplug="vim ~/.vimPlug"
alias vimb="vim ~/.vim_liuyf/basic.vim"
alias vimp="vim ~/.vim_liuyf/plug.vim"
 #Used the command "keyto remoteAddress" will copy local ssh-key to the remoteServer
alias keyto="ssh-copy-id -i ~/.ssh/id_rsa.pub" 
alias cl="clear"
alias llh="ll -al"
 #only show dir list
alias ld="ls -d -al */"
 #set p10k
alias p10k="p10k configure"
